{% load static %}
<!doctype html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <meta name="keywords" content="{{ keywords }}">

    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(92092728, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/92092728" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static '/css/owl.theme.default.min.css' %}" type="text/css" >
    <link href="{% static '/css/boxicons.min.css' %}">
    <script src="{% static '/js/dropzone.min.js' %}"></script>
    <script type="text/javascript">
       Dropzone.autoDiscover = false;

       document.addEventListener("DOMContentLoaded", function(event) {
        document.getElementsByClassName('dropzone')[0].dropzone({
            dictDefaultMessage: 'Upload your files here',
            url: "/ajax_file_upload_handler/",
            success: function (file, response) {
                console.log(response);
                }
            });
       })

    </script>
    <link rel="stylesheet" href="{% static '/css/dropzone.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">


    <!-- TOP NAV -->
    <div class="top-nav" id="home">
        <div class="container">
            <div class="row justify-content-between">
            </div>
        </div>
    </div>

    <!-- BOTTOM NAV -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/">Media-editor<span class="dot">.</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'compress_image' %}">Сжать картинку</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'compress_video' %}">Сжать видео</a>
                    </li>
                    <div class="dropdown nav-link">
                        <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Инструменты для видео
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'convert_video' %}">Конвертировать в другой формат</a></li>
                            <li><a class="dropdown-item" href="{% url 'convert_video_to_gif' %}">Преобразовать в GIF</a></li>
                        </ul>
                    </div>
                    <div class="dropdown nav-link">
                        <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Инструменты для изображений
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'convert_image' %}">Конвертировать в другой формат</a></li>
                            <li><a class="dropdown-item disabled" href="#">Убрать фон</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock%}

    <!-- Footer -->
    <footer>
        <div class="footer-top text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h4 class="navbar-brand">Media-editor<span class="dot">.</span></h4>
                        <div class="col-auto conditions-section">
                            <a href="#">Справка</a>
                            <a href="#">О компании</a>
                            <a href="#"><i>Политика конфиденциальности</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <p class="mb-0"> 2022 © Kisel-Dev Company. Все права защищены</p>
             <a href="https://kiselportfolio" style="color: #ADB3B9;">Разработано Kisel-Dev Company</a>
        </div>
    </footer>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>