{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/owl.theme.default.min.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

    <title>Media-editor</title>
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">


    <!-- TOP NAV -->
    <div class="top-nav" id="home">
        <div class="container">
            <div class="row justify-content-between">
{#                <div class="col-auto">#}
{#                    <p> <i class='bx bxs-envelope'></i> info@example.com</p>#}
{#                </div>#}
{#                <div class="col-auto social-icons">#}
{#                    <a href="#"><i class='bx bxl-facebook'></i></a>#}
{#                    <a href="#"><i class='bx bxl-twitter'></i></a>#}
{#                    <a href="#"><i class='bx bxl-instagram'></i></a>#}
{#                    <a href="#"><i class='bx bxl-pinterest'></i></a>#}
{#                </div>#}
            </div>
        </div>
    </div>

    <!-- BOTTOM NAV -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">Media-editor<span class="dot">.</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'compress_image' %}">Сжать картинку</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'compress_video' %}">Сжать видео</a>
                    </li>
                    <div class="dropdown nav-link">
                        <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Инструменты для видео
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'convert_video' %}">Конвертировать в другой формат</a></li>
                            <li><a class="dropdown-item disabled" href="#">Преобразовать в GIF</a></li>
                        </ul>
                    </div>
                    <div class="dropdown nav-link">
                        <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Инструменты для изображений
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item disabled" href="#">Убрать фон</a></li>
                            <li><a class="dropdown-item disabled" href="#">Конвертировать в другой формат</a></li>
                        </ul>
                    </div>
                </ul>
{#                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"#}
{#                    class="btn btn-brand ms-lg-3">Contact</a>#}
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock%}

    <!-- Footer -->
    <footer>
        <div class="footer-top text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h4 class="navbar-brand">Media-editor<span class="dot">.</span></h4>
                        <div class="col-auto conditions-section">
                            <a href="#">Справка</a>
                            <a href="#">О компании</a>
                            <a href="#"><i>Политика конфиденциальности</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <p class="mb-0"> 2022 © Kisel-Dev Company. Все права защищены</p>
             <a href="https://kiselportfolio" style="color: #ADB3B9;">Разработано Kisel-Dev Company</a>
        </div>
    </footer>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>