{% extends 'base.html' %}
{% load static %}

{%  block content %}
    <!-- SLIDER -->


    <!-- ABOUT -->


    <!-- MILESTONE -->

    <section id="services" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <h6>Доступные инструменты</h6>
                        <h1>Сжатие видео</h1>
                        <p class="mx-auto">Загрузите видео размером до 200 мегабайт/p>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <form action="" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                        <table>
                            {{ form }}
                        </table>
                    <input type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </section>

    <!-- Portfolio -->

    <!-- Team -->

    <!-- Reviews -->

    <!-- blog -->

{%  endblock content %}

