{% extends 'base.html' %}
{% load static %}

{%  block content %}
    <!-- SLIDER -->


    <!-- ABOUT -->


    <!-- MILESTONE -->

    <section id="services" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <h6>Ожидайте..</h6>
                        <h1>Видео обрабатывается. Загрузка начнётся автоматически.</h1>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <p>{{ video_id }}</p>
            </div>
        </div>
    </section>

    <!-- Portfolio -->

    <!-- Team -->

    <!-- Reviews -->

    <!-- blog -->

{%  endblock content %}

