{% extends 'base.html' %}
{% load static %}

{%  block content %}
    <!-- SLIDER -->


    <!-- ABOUT -->


    <!-- MILESTONE -->

    <section id="services" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <h6 class="waiting-text">Ожидайте..</h6>
                        <h1 id="video-link">Файл обрабатывается. Загрузка начнётся автоматически.</h1>
                            {{ file_id|json_script:"file_id" }}
                        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                        <script>
                            const roomName = JSON.parse(document.getElementById('file_id').textContent);
                            const fileStatus = "{{ file_status }}";
                            const IN_PROCESS = "1"
                            const READY = "2"
                            const DELETED = "3"
                            const ERROR = "4"
                            console.log(file_id)

                            const notificationsSocket = new WebSocket(
                                'wss://'
                                + window.location.host
                                + '/ws/'
                                + roomName
                                + '/'
                            );
                            function prepare_ready_page(path_to_file) {
                                let spinner = document.getElementsByClassName('lds-roller')[0];
                                let waiting_text = document.getElementsByClassName('waiting-text')[0];
                                let video_link = document.getElementById('video-link');
                                video_link.innerHTML =
                                    `<a class="video-link" href="${path_to_file}" download>Нажмите для загрузки</a>
                                    <a href="/" class="return_to_page">Вернуться на главную страницу</a>`;
                                spinner.remove();
                                waiting_text.remove();
                            }

                            function prepare_error_page() {
                                let spinner = document.getElementsByClassName('lds-roller')[0];
                                let waiting_text = document.getElementsByClassName('waiting-text')[0];
                                let video_link = document.getElementById('video-link');
                                video_link.innerHTML = `<h3 class="video-link">Произошла ошибка. Попробуйте еще раз.</h3>
                     <a href="/" class="return_to_page">Вернуться на главную страницу</a>`;
                                spinner.remove();
                                waiting_text.remove();
                            }
                            function prepare_delete_page() {
                                let spinner = document.getElementsByClassName('lds-roller')[0];
                                let waiting_text = document.getElementsByClassName('waiting-text')[0];
                                let video_link = document.getElementById('video-link');
                                video_link.innerHTML = `<h3 class="video-link">Файл был удалён.</h3>
                     <a href="/" class="return_to_page">Вернуться на главную страницу</a>`;
                                spinner.remove();
                                waiting_text.remove();
                            }



                            notificationsSocket.onmessage = function(e) {
                                const data = JSON.parse(e.data);
                                if (data.data.file_status === READY) {
                                    let path_to_file = data.data.path_to_file;
                                    prepare_ready_page(path_to_file);
                                }
                                else if (data.data.file_status === ERROR || data.data.file_status === "None") {
                                    prepare_error_page();
                                }
                            };

                            notificationsSocket.onclose = function(e) {
                                console.error('Chat socket closed unexpectedly');
                            };

                            if (fileStatus === READY) {
                                const path_to_file = "{{ path_to_file }}";
                                console.log('data from videoReady')
                                console.log(path_to_file)
                                prepare_ready_page(path_to_file);
                            }
                            else if (fileStatus === ERROR || fileStatus === "None") {
                                    prepare_error_page();
                            }
                            else if (fileStatus === DELETED) {
                                    prepare_delete_page();
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio -->

    <!-- Team -->

    <!-- Reviews -->

    <!-- blog -->

{%  endblock content %}

